* {
  box-sizing: border-box;
}
body{
    background: #fff;
}
.text-green {
  color: #088EC3;
}
.text-hdr-color {
  color:#33ccc5 !important;
}

/************** =header related **************/
/*****************************************/

.header {
  height:6.27rem;
  background-color: #33ccc5;
}
.navbar-brand {
  position: relative;
  font-size: xx-large;
  padding-bottom: .7rem;
  margin: 0 4rem 0 0;
  /* background-color: gray; */
}
.header h4 {
  display: inline-block;
  font-size: 24px;
  font-weight: 800;
}
.header img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  left: 133px;
}
.navbar-nav {
  /* position: absolute; */
  width: 100%;
  align-items: center;
  background-color: #33ccc5;
  /* margin-right:-100%;
  margin-left:-18px; */
}
.navbar-nav .nav-link {
  margin: 0 .5rem;
  color: white !important;
}





/************** =section =home related **************/
/*****************************************/
#home {
  padding-top: 7.25rem;
  height: 100%;
  background: url(../img/banner-dec-right.png) no-repeat center 3%/cover,
                    url(/img/banner-dec-left.png) no-repeat;
  margin-bottom: 10.52rem;
}
#info-stat {
  margin-left: -1.0rem;
}
.info-stat {
  text-transform: capitalize;
  /* justify-content: center; */
  /* padding: 0 13rem; */
}
h6 {
  font-size: 14px !important;
  color: #2C2E33;
}

.info-stat h4 {
  font-size: 20px;

}
#main-caption h1 {
  font-size: 60px;
  font-weight: 800;
  border-top: 1px solid wheat;
  margin-top: 1.875rem;
  padding-top:1.25rem;
  padding-left: 1.24rem;
  padding-right: 0px;
  background: linear-gradient(to right, #FA9D4D 0%, #FF4F6B 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height:4.5rem;
}

.main-btn-green {
  background-color: #33ccc5;
  box-shadow: 0 2px 2px 0px #4771CB;
  margin: 2rem 1rem;
  font-size: 1rem;
  color:white;
}

.main-btn-green:hover {
  background-color: #4771CB;
  box-shadow: 0 2px 2px 0px #33ccc5;
}


/************** =section features **************/
/*****************************************/

/* .features {
  width: 100%;
  background-color: whitesmoke;
  /* background-size:9%; 
  border-radius: 50px; 
  
} */
.feat-content {
  /* margin-left: -10px; */
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 10px 0px gray;
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
  z-index: 5999 !important;
}

.feat-1, .feat-2, .feat-3, .feat-4 {
  padding: 4rem .5rem;
}

h6.feat-img {
  background-repeat: no-repeat;
  /* background-position: center; */
  color: white;
  font-weight: 700;
  width: 110px;
  height: 69px;
  line-height: 65px;
  font-size: 2rem !important;
  margin: 0 auto;
  margin-top: -104px;
  margin-bottom: 2.5rem;

}
.feat-1 .feat-img {background-image: url(../img/features-number-01.png);}
.feat-2 .feat-img {background-image: url(../img/features-number-02.png);}
.feat-3 .feat-img {background-image: url(../img/features-number-03.png);}
.feat-4 .feat-img {background-image: url(../img/features-number-04.png);}


.feat-icon {
  width: 100%;
  height: 63px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 4rem;
}

.feat-1 .feat-icon, .feat-3 .feat-icon {background-image: url(../img/features-icon-black-01.png);}
.feat-2 .feat-icon, .feat-4 .feat-icon {background-image: url(../img/features-icon-black-02.png);}


.feat-1:hover, .feat-2:hover, .feat-3:hover, .feat-4:hover {
  /* background-image: ; */
  
  background-repeat:  no-repeat;
  background-position: 50% 18%;
  color: white;
  border-radius: 50px;
}
.feat-1:hover,  .feat-3:hover, .feat-1:hover .feat-icon, .feat-3:hover .feat-icon {
  background-image:url(../img/features-icon-white-01.png), linear-gradient(to right, #31C9C5 5%, #0A90C3 100%);
  
}
.feat-2:hover, .feat-4:hover, .feat-2:hover .feat-icon, .feat-4:hover .feat-icon {
  background-image:url(../img/features-icon-white-02.png), linear-gradient(to right, #31C9C5 5%, #0A90C3 100%);
}

.fixed-len-line {
  background-color: #C1F0EE;
  height: 2px;
  width:100px;
  margin: 35px auto;
}



.skill-stat {
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  margin-top: -8rem;
  width:100%;
  padding-top: 5rem;
  z-index: -999989;
  border-radius: 50px;
}


/************** =progress bar **************/
/*****************************************/
.progress {
  margin: 2rem auto;
  width:150px;
  height: 150px;
  background-color: transparent;
  position: relative;
}
.progress::after {
  content:"";/* without the content "" all neath properties ain't working */
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  border-radius: 50%;
  border-width: 6px;
  border-color: gray;
  z-index: 1;
  /* background-color: transparent; */
}

.progress>span {
  width: 50%;
  height: 100%;
  /* background-color: transparent; */
  overflow: hidden;
  position:absolute;
  top:0;
  z-index: 5;
}

.progress-left {
  left:0;
}
.progress-right {
  right:0;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color:transparent !important;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top:0;
}

.progress-left .progress-bar {
  left:100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  transform-origin: center left;
}
.progress-right .progress-bar {
  right:100%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  transform-origin: center right;
  /* animation: loading-1 2s linear forwards; */
}

.progress-bar {
  border-color:#FC6A54;
}

.pg-web .progress-right .progress-bar {
  animation: loading-web-1 1s linear forwards;
}
.pg-web .progress-left .progress-bar {
  animation: loading-web-2 1s linear forwards 1s;
}

.pg-wordpress .progress-right .progress-bar {
  animation: loading-word-1 1s linear forwards 1.1s;
}
.pg-wordpress .progress-left .progress-bar {
  animation: loading-word-2 0.3s linear forwards 2.1s;
}
.pg-marketing .progress-right .progress-bar {
  animation: loading-mking-1 1s linear forwards 2.0s;
}
.pg-marketing .progress-left .progress-bar {
  animation: loading-mking-2 0.5s linear forwards 3s;
}
.pg-photoshop .progress-right .progress-bar {
  animation: loading-photo-1 1s linear forwards 2.5s;
}
.pg-photoshop .progress-left .progress-bar {
  animation: loading-photo-2 .8s linear forwards 3.5s;
}

@keyframes loading-web-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-web-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(80deg);
  }
}

@keyframes loading-word-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-word-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes loading-mking-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-mking-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes loading-photo-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-photo-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.progress-value {
  width: 95%;
  height: 95%;
  position: absolute;
  top: 33.5px;
}
.progress-value p {
  margin: 0rem auto;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 0.81rem;
}
.progress-value p:nth-child(1){
  font-weight: 900;
  font-size: 2rem;
}


/************** =section about us **************/
/*****************************************/


.about {
  margin-top: 5rem;
}
.about-bg {
  width: 100%;
  height: 30rem;
  background: url(../img/about-left-image.png) no-repeat;
  background-size: contain;
}



.about-main .info h2 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: -0.1rem;
  /* letter-spacing: .001rem; */
  /* font-size: 1.5rem; */
}

.info {
  margin-top: 2.93rem;
  margin-bottom: 4.7rem;
}
.about-bg p {
  line-height: 1,5rem;
  font-size: 1.125rem;
}
/************** =general  **************/
/*****************************************/
hgroup h5  {
  padding-top: 1.5rem;
  font-size: 95%;
  font-weight: 800;
  margin-bottom: 1.3rem;
}
hgroup h2 {
  font-weight: 900;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

/************** =section services **************/
/*****************************************/
.service-item {
  width: 100%;
  height: 100%;
  padding: 67px 1.5rem 2.5rem;
  box-shadow: 0 0 2px 0 lightgrey;
  /* flex-wrap: wrap;
  justify-content: center;
  text-align: center; */
}
#services .col-md-4 {
  margin-bottom: 1.5rem !important;
}
.service-item:hover {
  box-shadow: 0 0 4px 1px gray;
  transform: scale(1.1);
}


.media-img {
  /* flex-wrap:; */
  border-radius: 50%;
  min-height:80px;
  max-height:80px;
  min-width: 5rem;
  max-width:5rem;
  margin-bottom: 1rem;
}
.media-img img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

/************** =section portfolio **************/
/*****************************************/
.showcase-objects {
  display: flex;
  min-height: 400px;
  max-height: 400px;
  /* flex-wrap: nowrap; */
  /* visibility: hidden; */
  overflow:hidden
}
#portfolio .showcase-objects .item {
  position: relative;
  top: 0px;
  width: 16.875rem;
  height: 11.5625rem;
  border-radius: 50px;
  margin: 1rem .5rem;
}

.item img {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 50px;
}
.hover-content {
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #31C9C5 0%, #088EC3 100%);
  opacity: 0;
}




/************** =heading **************/
/*****************************************/
#contact {
  margin-top: 7rem;
  padding-top: 7em;
  padding-bottom: 7rem;
  background-image: url(/img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control {
  border: 2px solid #EDEDED;
}
.contact {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 50px;
  background-color: white;
}
 .contact:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3px 1px lightslategray;
}
.contactus {
  margin-top: 0.8rem;
  padding-top: 1rem;
  border: 2px solid #EDEDED;
  padding-bottom: 1.6rem;
  margin-bottom: 2.5rem;
}
.contactus div{
  margin-bottom: 1.2rem;

}
.contactus a {
  font-size: 80%;
  text-decoration: none;
  color: #B8B2BA;
}

.contactus, a:hover {
  color:rgb(34, 33, 33);
  transform: scale(1.1);
}

footer {
  margin: 2rem auto;
  padding-top: 1rem;
}
footer div a {
  text-decoration: none;
}